bin/*
!bin/Debug
bin/Debug/*
!bin/Debug/net5.0
bin/Debug/net5.0/*
!bin/Debug/net5.0/publish
bin/Debug/net5.0/publish/*
!bin/Debug/net5.0/publish/Citrine.dll
obj

Citrine/token
token
admin
nicknames
*.log
config.json
storage.json
